.streams {
  height: 100%;
}

.streams .stream {
  padding: 0px;
}

.streams .stream.promoted {
  background-color: #FF5B51 !important;
}

.streams .stream:nth-child(odd) {
  background-color: #F4F4F4;
}
.streams .stream:nth-child(even) {
  background-color: #FAFAFA;
}

.streams .stream .video {
  display: inline-block;
  height: 180px;
  width: 240px;
  max-width: 40%;

  vertical-align: bottom;
}
.streams .stream .video video {
  float: right;
  height: 180px;
  margin-bottom: -4px;
}

.streams .stream button {
  width: 100px;
  max-width: 30%;
  height: 180px;
  margin: 0px;

  font-size: 80px;

  color: #FAFAFA;
  background-color: #FF5B51;
  border: none;
}

.streams .stream button:hover {
  box-shadow: inset 5px 0px rgba(0,0,0, 0.2);
}
.streams .stream button:active {
  box-shadow: inset 10px 0px 5px rgba(0,0,0, 0.2);
}
.streams .stream button:focus {
  outline: none;
}

.streams .stream .count {
  display: inline-block;
  width: 100px;
  max-width: 30%;
  margin: 0px;

  font-size: 80px;

  color:  #FF5B51;
}

.streams .stream.promoted .count {
  color: #FAFAFA;
}
